 .footer{
    background-color: #000;
 }

 .footer i{
    color : #95969B;
 }

 .text{
    color: #FFF;
    font-family: 'Poppins';
    font-size: 0.8em;
 }

 .logo{
   width: 200px;
   height: 100px;
 }