.navbarNav {
    background-color: black;
}

.nav-link{
    color: #FFF;
    font-family : "Poppins", sans-serif;
}

.nav-link:hover{
    color: #95969B;
}

.spacement{
    display: flex;
    justify-content: center;
}
.navbar-nav{
    display: flex;
    align-items: center;
}
